
build/Desktop_Qt_5_15_2_GCC_64bit-Debug/

.~lock.Google2016-2019.csv#

Example/

.qtcreator/project.json

PPT/

build/Desktop_Qt_5_15_2_GCC_64bit-Release/.qtc_clangd/.cache/clangd/index/

Results/

build/Desktop_Qt_5_15_2_GCC_64bit-Release/

*.txt
