
build/Desktop_Qt_5_15_2_GCC_64bit-Debug/

.~lock.Google2016-2019.csv#

Example/

.qtcreator/project.json

PPT/

build/Desktop_Qt_5_15_2_GCC_64bit-Release/.qtc_clangd/.cache/clangd/index/

Results/

build/Desktop_Qt_5_15_2_GCC_64bit-Release/

*.txt

Final Results/1 NO/

Final Results/2 NH/

Final Results/3 sCOD/

Final Results/4 VSS/

Final Results/5 TKN/

Final Results/6 ND/

Final Results/sCOD_0/

Build-Debug-6.9.0/

Data/

scaling_maxs.csv

scaling_mins.csv

trainData_normalized.csv

testData_normalized.csv
